<p>
  A tool for the work Geckoboard dash - shows weather outside the office, and if RT values are being returned from Bus and Tram stops.
</p>
To Do:
<ul>
  <li>Add a check that ensures the API can't be hammered too much</li>
  <li>Add a way to check multiple stops for a RT % value</li>
  <li>Add a way to manually enter stop IDs</li>
</ul>





